/* 
  Styles for the YQL Twitter block provided through Views.
*/

.scorg-tweets .views-field-nothing
{ 
  float: left;
  margin-right: 5px;
}

.scorg-tweets .views-field-column3
{ 
  float: right;
  margin-right: 5px;
}
